html {
  font-family: 'Montserrat';
}

:root {
  --main-light-text: hsl(216, 5%, 95%);
  --main-dark-text: hsl(216, 60%, 15%);
  --primary-color: hsl(216, 40%, 31%);
  --primary-color-dark: hsl(216, 50%, 21%);
  --accent-color: hsl(216, 59%, 57%);
}

* {
  box-sizing: border-box;
}

.container {
  margin: 4rem auto 2rem auto;
  max-width: 800px;
  padding: 0 1.0875rem 1.45rem;
}
body {
  color: var(--main-dark-text);
  background-color: var(--main-light-text);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-dark-text);
}
a:active,
a:hover {
  outline-width: 0;
  cursor: pointer;
  text-decoration: underline;
}
a:visited {
  color: inherit;
}

small {
  font-size: 90%;
}

img {
  border-style: none;
  max-width: 100%;
  margin-bottom: 1.45rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}
h1 {
  margin-bottom: 1.45rem;

  font-size: 2rem;
}
h2 {
  margin-bottom: 1.2rem;
  font-size: 1.62671rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.38316rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

section {
  margin-top: 2rem;
}

/* nav */
#navbar {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--main-light-text);
}

#navbar a:hover {
  text-decoration: none;
}

#navbar > #brand {
  font-size: 1.4rem;
}

.nav-item {
  margin-left: 1rem;
}

/* card */
.card {
  background-color: white;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px hsl(216, 40%, 31%, 5%);
  transition: 150ms;
}

.card > a:hover {
  text-decoration: none;
}

.hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px hsl(216, 40%, 31%, 15%);
}

.card-title {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-family: 'Merriweather';
}

.card-date {
  font-weight: 300;
}

.card-desc {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.card-image {
  border-radius: 100%;
}

.relative {
  position: relative;
}

.talk-hash {
  position: absolute;
  top: -50px;
  right: -50px;
  font-size: 3rem;
  color: #ccc;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  background-color: var(--accent-color);
  line-height: 2rem;
  color: var(--main-light-text);
  padding: 1rem;
}

/* FORMS */

form {
  margin: 0;
  margin-bottom: 1.45rem;
  padding: 0;
}
label {
  display: block;
  margin-bottom: 0.2rem;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--main-dark-text);
  padding: 1rem;
  font-size: 1rem;
}

input {
  height: 2.5rem;
  border-radius: 3px;
}

button {
  background-color: var(--primary-color);
  color: var(--main-light-text);
  padding: 0.8rem 2rem;
  border-radius: 3px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-color-dark);
}
/* stars */
.stars {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  align-items: center;
}
.star {
  margin-right: 0.5rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.7rem 1rem;
}

.star.filled,
.star:hover {
  color: var(--main-light-text);
  background-color: var(--accent-color);
}

.star:hover {
  cursor: pointer;
}

/* tweets */
.tweets-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
